html{
	scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	color: #fff;
	background: #0a0a0a;
}
header{
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 9999;
	background-color: rgba(0, 0, 0, .8);
}

/* Flexbox for Navigation (Mobile first default: Column/Hidden) */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	position: relative;
	z-index: 10;
}
.logo{
	flex: 1;
	text-decoration: none;
	color: #fff;
}

.nav-links {
	display: flex;
	list-style: none;
	gap: 12px;
	flex: 1;
	justify-content: flex-end;
}

.nav-links>li>a{
	text-decoration: none;
	color: #fff;
}

#menu-button{
	display: none;
	background: transparent;
	border: 0;
	color: #fff;
	flex: 1;
	font-size: 20px;
}

h2{
	text-align: center;
	margin-bottom: 40px;
}

/* Section */
section{
	padding: 80px 64px;
}

/* ---------- Hero Section ---------- */
#hero{
	position: relative;
}

#video-background{
	position: absolute;
	top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;z-index: -1;
}

.hero-content{
	display: flex;
	flex-direction: column;
	gap: 24px;
	justify-content: center;
	align-items: center;
	height: 500px;
}


/* ---------- Footer ---------- */
footer{
	background: #1f1f1f;
	text-align: center;
	align-content: center;
	min-height: 80px;
}

/* ---------- Skills Section ---------- */



/* ---------- Projects Section ---------- */
/* Projects Cards */
.project-cards{
    display: grid;
	grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.project-card{
    flex: 1;
    padding: 20px;
    border-radius: 8px;
	background: rgba(255, 255, 255, .8);
	box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, .5);
}
.project-card *{
	color: #1f1f1f;
}

.project-card img{
	max-width: 100%;
	height: auto;
}


/* ---------- Contact Section ---------- */
/* Contact Form */
.contact-form{
    max-width: 400px;
    margin: 0 auto;
}

.contact-form>label{
    display: block;
    margin-bottom: 20px;
}
.contact-form>label>input,
.contact-form>label>textarea{
    width: 100%;
    display: block;
    padding: 8px 16px;
    border-radius: 4px;
    border:1px solid rgba(0, 0, 0, .6);
	margin-top: 8px;
}

input[type="submit"]{
	width: 100%;
    background: rgba(255, 255, 255, .8);
    color: #000;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    border: 0;
    cursor: pointer;
}

input[type="submit"]:hover{
background: rgba(255, 255, 255, .5);
color: #fff;
}

#from-messageDiv{
	text-align: center;
	margin-top: 2rem;
}


/* ---------- Responsive Mobile ---------- */
@media(max-width:768px){
	.navbar{
		flex-wrap: wrap;
	}

	.nav-links {
		display: none; 
		flex-direction: column;
		flex-basis: 100%;
		order: 2;
		text-align: center;
	}

	.nav-links.open {
		display: flex;
		padding: 1rem;
	}

	#menu-button{
		display: block;
		text-align: right;
		background: transparent;
		border: 0;
	}

}